<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Attack Pattern Editor</title>
  <style>
    [v-cloak] {
      display: none;
    }

    svg {
      border-width: 1px;
      background-color: #eeeeee;
      cursor: default;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -o-user-select: none;
      user-select: none;
    }

    svg:not(.active):not(.ctrl) {
      cursor: crosshair;
    }

    path.link {
      fill: none;
      stroke: #000;
      stroke-width: 4px;
      cursor: default;
    }

    svg:not(.active):not(.ctrl) path.link {
      cursor: pointer;
    }

    path.link.selected {
      stroke-dasharray: 10, 2;
    }

    path.link.dragline {
      pointer-events: none;
    }

    path.link.hidden {
      stroke-width: 0;
    }

    circle.node {
      stroke-width: 1.5px;
      cursor: pointer;
    }

    circle.node.reflexive {
      stroke: #000 !important;
      stroke-width: 2.5px;
    }

    text {
      font: 28 sans-serif;
      pointer-events: none;
    }

    text.id {
      text-anchor: middle;
      font-weight: bold;
    }

    rect {
      fill: #E91E63;
      opacity: 0.85;
    }
  </style>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
  <script src="https://unpkg.com/vue"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
</head>

<body>
  <div id='app'>
    <div class="ui menu">
      <a class="active item">
        Home
      </a>
    </div>
    <div v-if="validParameter">
      <el-row :gutter="20">
        <el-col :span="8">
          <div class="grid-content bg-purple">
            <h3>Transition editor</h3>
            <div v-if="!linkSelected">
              <h4>Please select a transition</h4>
            </div>
            <div v-else v-cloak>
              <el-form :model="selectedLink" label-width="80px">
                <el-form-item label="Source">
                  <el-input disabled v-model="selectedLink.source.id"></el-input>
                </el-form-item>
                <el-form-item label="Target">
                  <el-input disabled v-model="selectedLink.target.id"></el-input>
                </el-form-item>
                <el-form-item label="Timeout">
                  <el-input v-model="selectedLink.timeout">
                    <template slot="append">mins</template>
                  </el-input>
                </el-form-item>

                <h4>Trigger event creator</h4>
                <p>Instruction of the creator</p>
                <el-form-item label="Username filter">
                  <el-switch on-text="" off-text="" v-model="selectedLink.trigger.username"></el-switch>
                </el-form-item>
                <el-form-item v-show="selectedLink.trigger.username" label=" ">
                  <el-input v-model="selectedLink.trigger.username_regex" placeholder="enter the regex of the username"></el-input>
                  <p>E.g. ^username$ matches 'username'</p>
                </el-form-item>




                <el-form-item label="PC filter">
                  <el-switch on-text="" off-text="" v-model="selectedLink.trigger.pc"></el-switch>
                </el-form-item>
                <el-form-item v-show="selectedLink.trigger.pc" label=" ">
                  <el-input v-model="selectedLink.trigger.pc_regex" placeholder="enter the regex of the pc"></el-input>
                  <p>E.g. ^PC01$ matches 'PC01'</p>
                </el-form-item>




                <el-form-item label="Time range filter">
                  <el-switch on-text="" off-text="" v-model="selectedLink.trigger.timeRange"></el-switch>
                </el-form-item>
                <el-form-item v-show="selectedLink.trigger.timeRange" label=" ">
                  <el-col :span="11">
                    <el-time-picker type="fixed-time" placeholder="From" v-model="selectedLink.trigger.start_time" style="width: 100%;"></el-time-picker>
                  </el-col>
                  <el-col class="line" :span="2">-</el-col>
                  <el-col :span="11">
                    <el-time-picker type="fixed-time" placeholder="To" v-model="selectedLink.trigger.end_time" style="width: 100%;"></el-time-picker>
                  </el-col>
                </el-form-item>

                <el-form-item label="Activity filter">
                  <el-switch on-text="" off-text="" v-model="selectedLink.trigger.activity"></el-switch>
                </el-form-item>
                <el-form-item v-show="selectedLink.trigger.activity" label=" ">
                  <el-input v-model="selectedLink.trigger.activity_regex" placeholder="enter the regex of the activity"></el-input>
                  <ul>
                    <li>Alerts
                      <ul>
                        <li>^File activity increased$</li>
                        <li>^Email activity unsusual$</li>
                        <li>^Out of hours login$</li>
                        <li>^Usb drive out of hours$</li>
                        <li>^High volume of files$</li>
                        <li>^Big email attachement$</li>
                        <li>^Multiple logins$</li>
                        <li>^Banned website access$</li>
                      </ul>
                    </li>

                    <li>^login$</li>
                    <li>^logoff$</li>
                    <li>^usb inserted$</li>
                    <li>^usb removed$</li>
                    <li>^http://bannedwebsite.com$</li>
                    <li>^bannedemail@company.com$</li>
                    <li>^\/admin</li>
                  </ul>
                </el-form-item>

                <el-form-item label="Colour filter">
                  <el-switch on-text="" off-text="" v-model="selectedLink.trigger.color"></el-switch>
                </el-form-item>
                <el-form-item v-show="selectedLink.trigger.color" label=" ">
                  <el-radio class="radio" v-model="selectedLink.trigger.color_regex" label="green">Green</el-radio>
                  <el-radio class="radio" v-model="selectedLink.trigger.color_regex" label="orange">Orange</el-radio>
                  <el-radio class="radio" v-model="selectedLink.trigger.color_regex" label="red">Red</el-radio>
                </el-form-item>

              </el-form>

            </div>
          </div>
        </el-col>
        <el-col :span="8">
          <div class="grid-content bg-purple-light">
            <h3 class="ui header">State editor</h3>
            <div v-if="!nodeSelected">
              <h4 class="ui header">Please select a state</h4>
            </div>
            <div v-else v-cloak>
              <el-form>
                <el-form-item label="State ID">
                  <el-input disabled v-model="selectedNode.id"></el-input>
                </el-form-item>
                <el-form-item label="Label">
                  <el-input v-model="selectedNode.label" placeholder="enter the description of this state"></el-input>
                </el-form-item>
                <el-form-item label="Property">
                  <el-radio class="radio" v-model="selectedNode.property" label="normal">Normal</el-radio>
                  <el-radio class="radio" v-model="selectedNode.property" label="outcome">Outcome</el-radio>
                </el-form-item>
              </el-form>
            </div>
          </div>
        </el-col>
        <el-col :span="8">
          <div class="grid-content bg-purple">
            <h3 class="ui header">Attack pattern {{targetPattern}} <div v-if="newPattern">New pattern: {{newPattern}}</div></h3>
            Edit pattern: 
            <!-- <select class="ui dropdown">
              <option>--select a pattern--</option>
              <option v-for="p in patterns">
                <a href="http://google.com">{{p}}</a>
              </option>
            </select> -->
            <el-dropdown>
              <span class="el-dropdown-link">
                select a pattern<i class="el-icon-caret-bottom el-icon--right"></i>
              </span>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item v-for="p in patterns" :key="p"><a v-bind:href="'creator/'+p">{{p}}</a></el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
            <br>
            <div v-if="targetPattern !== 'creator'" v-cloak>
              or
              <el-button type="text"><a v-bind:href="'/creator'">Create a new pattern</a></el-button>
            </div>

            <br /><br />

            <div v-if="!loaded">
              <h4 class="ui header">Loading</h4>
            </div>
            <div>
              <svg width='400' height='600'></svg>
            </div>
            <p>Instruction of using the graph</p>

            <el-button type="primary" v-on:click="upload">Update<i class="el-icon-upload el-icon--right"></i></el-button>
          </div>
        </el-col>
      </el-row>
    </div>
    <div v-else>
      The pattern {{targetPattern}} does not exist
    </div>
    {{selectedLink}}

  </div>

</body>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://localhost:3000/api/creator/dist/app.js"></script>
<!-- <script src="dist/main.js"></script> -->

</html>